<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CRUD_Linq.Properties.Settings.CrudLinqSql" connectionString="Data Source=LAPTOP-TJ841157\WINCCPLUSMIG2014;Initial Catalog=GestionPedidos;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>